.contacts {
  padding-top: 105px;

  @media (max-width: 768px) {
    padding: 50px 8px 0;
  }

  &__head {
    display: grid;
    grid-template-columns: 1fr 462px;

    @media (max-width: 1125px) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    grid-column-end: -1;
    color: $text-blue;

    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 1125px) {
      justify-content: center;
    }
  }

  &__authors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    max-width: 634px;
    width: 100%;
    margin-top: auto;
    margin-bottom: 20%;

    @media (max-width: 1125px) {
      margin-bottom: 25px;
      margin-top: 20px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      max-width: 300px;
    }
  }

  &__author {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 322px;

    @media (max-width: 768px) {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  & .author-second {
    flex-direction: column-reverse;
  }

  &__img {
    position: relative;
  }

  &__img-first {
    @media (max-width: 768px) {
      padding-bottom: 130px;
    }
  }

  &__img-second {
    padding-left: 15%;

    @media (max-width: 768px) {
      padding-top: 130px;
    }

    @media (max-width: 370px) {
      padding-left: 10%;
    }
  }

  &__profile {
    position: absolute;
    z-index: -1;
    background: $text-white;
    box-shadow: 0 2.213px 6.0857px #38394d1a;
    border-radius: 8px;

    & span {
      display: block;
    }
  }

  &__profile-first {
    bottom: 0;
    left: 15%;
    padding: 132px 34px 32px;

    @media (max-width: 768px) {
      padding: 150px 47px 37px;
    }

    @media (max-width: 370px) {
      left: 10%;
    }
  }

  &__profile-second {
    top: 0;
    padding: 32px 34px 132px;

    @media (max-width: 768px) {
      padding: 37px 47px 150px;
    }
  }

  &__autor-name {
    font-size: 20px;
    color: $text-blue;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__author-job {
    line-height: 140%;
    margin-top: 7px;

    @media (max-width: 768px) {
      margin-top: 16px;
      text-align: center;
    }
  }

  &__author-contact {
    display: flex;
    position: absolute;
    bottom: 16px;
    border-radius: 8px;
    background: opacify($charcoal, 0.502);
    backdrop-filter: blur(4px);
  }

  &__first {
    left: 16px;

    @media (max-width: 768px) {
      bottom: calc(130px + 16px); //img padding + contact padding
    }
  }

  &__second {
    right: 15%;

    @media (max-width: 768px) {
      right: 10%;
    }
  }

  &__telegram {
    margin: 8px 7px 8px 17px;

    &:hover path {
      fill: $text-gray;
    }

    @media (max-width: 768px) {
      margin: 10px 27px;

      & svg {
        width: 22px;
        height: 22px;
      }
    }
  }

  &__email {
    margin: 8px 17px 8px 7px;

    &:hover path {
      fill: $text-gray;
    }

    @media (max-width: 768px) {
      margin: 10px 27px;

      & svg {
        width: 22px;
        height: 22px;
      }
    }
  }

  &__form {
    max-width: 480px;
  }

  &__text {
    margin-top: 20px;
    line-height: 140%;

    @media (max-width: 1024px) {
      text-align: center;
    }
  }

  &__list {
    margin-top: 20px;
  }

  &__item:not(:nth-last-child(2)) {
    margin-bottom: 24px;
  }

  &__label {
    display: inline-block;
    margin-bottom: 10px;
    color: $text-gray;
  }

  #msg {
    font-family: "IBM Plex Sans", sans-serif;
    resize: none;
    min-height: 98px;
    padding-top: 10px;
    padding-right: 16px;
  }
}
