  <footer class="footer">
    <div class="container">
      <div class="footer__top">
        <div class="footer__top-content">
          <div class="footer__follow">
            <p class="footer__title">Follow us</p>
            <div class="footer__follow-icon">
              <a href="#"><img src="./image/footer/top/follow/facebook.svg" alt="facebook icon"></a>
              <a href="#"><img src="./image/footer/top/follow/twitter.svg" alt="twitter icon"></a>
              <a href="#"><img src="./image/footer/top/follow/instagram.svg" alt="instagram icon"></a>
              <a href="#"><img src="./image/footer/top/follow/youtube.svg" alt="youtube icon"></a>
            </div>
          </div>
          <div class="footer__menu">
            <p class="footer__title">Menu</p>
            <ul class="footer__list">
              <li>
                <a href="#" class="footer__link">Home</a>
              </li>
              <li>
                <a href="#" class="footer__link">Wallets</a>
              </li>
              <li>
                <a href="#" class="footer__link">Merchants</a>
              </li>
              <li>
                <a href="#" class="footer__link">All transactions</a>
              </li>
              <li>
                <a href="#" class="footer__link">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="footer__select">
            <p class="footer__title">Language</p>
            <select name="select" id="footer-select">
              <option value="ENG" selected>English</option>
              <option value="RUS">Russian</option>
            </select>
          </div>
          <div class="footer__mobile-menu">
            <div class="footer__support mobile-sup">
              <p class="footer__title">Need help?</p>
              <div class="footer__write">
                <div class="footer__write-icon">
                  <figure class="blog__author">
                    <img src="./image/footer/top/contacts/mobile-icon.svg" alt="author photo">
                    <figcaption class="blog__author-profile">
                      <span class="blog__author-name">Allison Carder</span>
                      <span class="blog__author-job"> 
                        <a href="">
                          <img src="./image/footer/top/contacts/telegram-small.svg" alt="telegram icon">
                        </a>
                        <a href="">
                          <img src="./image/footer/top/contacts/email-small.svg" alt="email icon">
                        </a>
                        <a href="">
                          <img src="./image/footer/top/contacts/facebook-small.svg" alt="facebook icon">
                        </a>
                      </span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="footer__contacts mobile-contacts">
              <p class="footer__contacts-text">
                <a href="mailto:Allison_Carder_@mail.com"><img src="./image/footer/top/contacts/contact-email.svg" alt="email icon"> Allison_Carder_@mail.com</a>
              </p>
              <p class="footer__contacts-text number">
                <a href="tel:+79000000000"><img src="./image/footer/top/contacts/contact-phone.svg" alt="phone icon">+ 7 (900) 000 0000</a>
              </p>
            </div>
            <div class="footer__select mobile-select">
              <p class="footer__title">Language</p>
              <select name="select" id="mobile-select">
                <option value="ENG" selected>English</option>
                <option value="RUS">Russian</option>
              </select>
            </div>
          </div>
        </div>
        <div class="footer__support">
          <h5 class="footer__title">24/7 Support</h5>
          <div class="footer__write">
            <div class="footer__write-icon">
              <span class="footer__write-text">Write to us</span>
              <a href="#"><img src="./image/footer/top/contacts/telegram-small.svg" alt="telegram icon"></a>
              <a href="#"><img src="./image/footer/top/contacts/email-small.svg" alt="email icon"></a>
              <a href="#"><img src="./image/footer/top/contacts/facebook-small.svg" alt="facebook icon"></a>
            </div>
            <div class="footer__contacts">
              <span class="footer__contacts-text">
                <a href="mailto:Allison_Carder_@mail.com"><img src="./image/footer/top/contacts/contact-email.svg" alt="email icon"> Allison_Carder_@mail.com</a>
              </span>
              <span class="footer__contacts-text">
                <a href="tel:+79000000000"><img src="./image/footer/top/contacts/contact-phone.svg" alt="phone icon">+ 7 (900) 000 0000</a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container-small">
          <div class="footer__bottom-content">
            <p class="footer__text">Laborum exercitation non non nostrud non aliqua labore sit. Elit quis eu magna ex aliqua qui officia consectetur. Consectetur laboris fugiat dolore reprehenderit eiusmod officia. Sunt officia et nostrud cillum aliquip nostrud aliquip eiusmod est.
            </p>
            <img class="footer__logo" src="./image/footer/bottom/logo.svg" alt="website logo">
            <p class="footer__copy">© 2019 <a href="#">PayPay</a>- Premium WordPress news & magazine theme by <a href="#">PayPay</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>