  <header class="header">
    <div class="container">
      <div class="header__top">
        <div class="header__menu">
          <button type="button" class="header__mobile-btn">
            <span class="header__mobile-icon"></span>
          </button>
          <span class="header__logo">
            <img src="./image/header/top/logo.svg" alt="website logo">
          </span>
          <nav class="header__nav">
            <ul class="header__nav-list">
              <li>
                <a class="header__nav-link" href="#" tabindex="0">Home</a>
              </li>
              <li>
                <a class="header__nav-link" href="#">Blog</a>
              </li>
              <li>
                <a class="header__nav-link" href="#">FAQ</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header__login">
          <button type="button" class="btn header__login-btn mobile-btn">Log In</button>
          <button type="button" class="btn header__signup-btn">Sign Up</button>
        </div>
      </div>
      <div class="header__bottom">
        <div class="header__inner">
          <div class="header__textblock">
            <h1 class="header__title">All operations in a Single Wallet</h1>
            <p class="header__text">The PayPay Wallet is a safe place for the trader's portfolio: store your crypto & fiat funds to track profits and other activities.</p>
          </div>
          <div class="header__rate">
            <div class="header__img">
              <a href=""><img src="./image/header/bottom/google-play.svg" alt="google play icon"></a>
              <div class="header__stars">
                <span class="header__star"> 4.6
                  <img class="header__inner-stars" src="./image/header/bottom/star.svg" alt="star">
                </span>
                <span class="header__review">78 reviews</span>
              </div>
            </div>
            <div class="header__img">
              <a href=""><img src="./image/header/bottom/app-store.svg" alt="app store icon"></a>
              <div class="header__stars">
                <span class="header__star"> 4.6
                  <img class="header__inner-stars" src="./image/header/bottom/star.svg" alt="star">
                </span>
                <span class="header__review">80 reviews</span>
              </div>
            </div>
          </div>
        </div>
        <div class="header__bottom-img">
          <picture>
            <source type="image/webp" media="(max-width:1025px)" srcset="./image/header/mobile/PayPay-x1.webp 1x, ./image/header/mobile/PayPay-x2.webp 2x">
            <source media="(max-width:1025px)" srcset="./image/header/mobile/PayPay-x1.png 1x, ./image/header/mobile/PayPay-x2.png 2x">
            <source type="image/webp" srcset="./image/header/bottom/bottom-img-x1.webp 1x, ./image/header/bottom/bottom-img-x2.webp 2x">
            <img src="./image/header/bottom/bottom-img-x1.png" srcset="./image/header/bottom/bottom-img-x2.png 2x" alt="website on different devices">
          </picture>
        </div>
      </div>
    </div>
  </header>